*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerfirst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid grey;
    
    
}
.headername{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#instalogo{
    width: 30px; 
    
}
#video{
 width: 45px;
}
#messenger{
    width: 20px;
}
#threads{
    width: 35px;
}
.insta{
    
}
.v1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-left: 1rem;
}
.v2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}
.v{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}
.v button {
    border: none;
    background-color: transparent;
}




/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    .headerfirst{
        display: none;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}